<div class="ritual section">
    <div class="container ritual__container">
        <div class="section__head">
            {% if section.settings.section_heading != blank %}
             <h3 class="section__heading">{{section.settings.section_heading}}</h3>
             {% endif %}
             {% if section.settings.section_subheading-text != blank %}
            <a class="section__subheading link link--default" href="{{section.settings.section_subheading-url}}">{{section.settings.section_subheading-text}}</a>
            {% endif %}
        </div>
        <div class="section__body">
            <div class="ritual__row">
                {% include 'product-grid' %}
            </div>
        </div>
    </div>
        <img class="ritual__background" src="{{'hp-background.png' | asset_img_url: 'master'}}" />
</div>

{% schema %}
{
 "name": "Ritual section",
 "settings" : [
   {
       "type": "text",
       "id": "section_heading",
       "label": "Please Enter Section Heading",
       "default": "Our Rituals"
   },
   {
    "type": "text",
    "id": "section_subheading-text",
    "label": "Please Enter Section Subheading",
    "default": "SHOP BESTSELLERS"
   },
   {
    "type": "url",
    "id": "section_subheading-url",
    "label": "Please Select Page or Enter url for subheading"
   }
 ],
 "blocks": [
 {
     "type": "product",
     "name": "product",
     "settings": [
       {
           "type": "image_picker",
           "id": "product_image",
           "label": "Please select product image"
       },
       {
           "type": "text",
           "id": "product_title-left",
           "label": "Please enter short title part",
           "default": "calm"
       },
       {
           "type": "text",
           "id": "product_title-right",
           "label": "please enter title right",
           "default": "PURE RADIANCE OIL"
       },
       {
           "type": "text",
           "id": "product_text",
           "label": "please enter product text",
           "default": "Skin-transforming moisturizing face oil."
       },
       {
           "type": "text",
           "id": "product_price",
           "label": "please enter product price",
           "default": "10"
       },
       {
           "type": "text",
           "id": "product_cross",
           "label": "please enter crossed product price",
           "default": "5"
       }
     ]
 }
 
 ]
}
{% endschema %}

