<div class="product">
    <div class="container-fluid product__container">
     <div class="row product__row">
        <div class="product__breadcrumb">
            {% render 'breadcrumbs' %}
        </div>
        <div class="product__carousel swiper-container">
           <ul class="swiper-wrapper product__mainSlider product__imageList">
              {% for image in product.images %}
                <li class="swiper-slide"><img src="{{image | img_url: "master"}}"></li>
              {% endfor %}
           </ul>
        </div>
        <div class="product__pagination swiper-container">
          <ul class="swiper-wrapper product__imageList">
            {% for image in product.images %}
              <li class="swiper-slide product__paginationItem"><img src="{{image | img_url: "master"}}"></li>
            {% endfor %}
          </ul>
        </div>
      </div>
        </div>
    <div class="product__desc"></div>
</div>