<div class="promise">
    <h1 class="promise__title promise__title--mobile">Get gorgeous skin with natural-biocompatible skincare that works.</h1>
    <div class="promise__media">
  
          {% include 'responsive-image' with image: section.settings.desktop_image, max_width: 875, max_height: 1107 %}
        <p class="promise__mediaCaption">Olivia Wilde, Actor & Filmmaker</p>
    </div>
    <div class="promise__row">
      <h1 class="promise__title promise__title--desktop">Get gorgeous skin with natural-biocompatible skincare that works.</h1>
       <div class="promise__items">
           <div class="promise__icon">
               {% render 'icon-mandala' %}
               <div class="promise__iconContent">
                   <p class="promise__iconHeader">NATURAL-BIOCOMPATIBLE</p>
                   <a href="#" class="promise__iconLink link link--default">learn more</a>
               </div>
           </div>
           <div class="promise__icon">
            {% render 'icon-microscope' %}
            <div class="promise__iconContent">
                <p class="promise__iconHeader">CLINICALLY PROVEN</p>
                <a href="#" class="promise__iconLink link link--default">learn more</a>
            </div>
        </div>
        <div class="promise__icon">
            {% render 'icon-recycle' %}
            <div class="promise__iconContent">
                <p class="promise__iconHeader">CLEAN & SUSTAINABLE</p>
                <a href="#" class="promise__iconLink link link--default">learn more</a>
            </div>
        </div>
       </div>
    </div>
</div>

{% schema %}
{
 "name": "promise section",
 "settings": [
   {
       "type": "image_picker",
       "id": "desktop_image",
       "label": "Please select side image"
   }
 ]
}
{% endschema %}