<div class="promise">
    <h1 class="promise__title promise__title--mobile">Get gorgeous skin with natural-biocompatible skincare that works.</h1>
    <div class="promise__media">
        <picture>
            <source media="(min-width:1025px)" srcset="{{'image-promise-desktop.png' | asset_url}}" >
            <img src="{{'image-promise.png' | asset_url}}" alt="" style="width:auto;">
          </picture>
        <p class="promise__mediaCaption">Olivia Wilde, Actor & Filmmaker</p>
    </div>
    <div class="promise__row">
      <h1 class="promise__title promise__title--desktop">Get gorgeous skin with natural-biocompatible skincare that works.</h1>
       <div class="promise__items">
           <div class="promise__icon">
               {% render 'icon-mandala' %}
               <div class="promise__iconContent">
                   <p class="promise__iconHeader">NATURAL-BIOCOMPATIBLE</p>
                   <a href="#" class="promise__iconLink link link--default">learn more</a>
               </div>
           </div>
           <div class="promise__icon">
            {% render 'icon-microscope' %}
            <div class="promise__iconContent">
                <p class="promise__iconHeader">CLINICALLY PROVEN</p>
                <a href="#" class="promise__iconLink link link--default">learn more</a>
            </div>
        </div>
        <div class="promise__icon">
            {% render 'icon-recycle' %}
            <div class="promise__iconContent">
                <p class="promise__iconHeader">CLEAN & SUSTAINABLE</p>
                <a href="#" class="promise__iconLink link link--default">learn more</a>
            </div>
        </div>
       </div>
    </div>
</div>