$component: ".productgrid";

#{$component}__desc {
 @include margin(rem(14px),0,0,0);
}

#{$component}__title {
    font-size: 13px;
    color: color('primary');
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 15px;
    @include margin(0,0,rem(4px),0);
    
    &--regular {
        font-weight: 400;
        text-transform: capitalize;
    }

    @include above('desktop') {
        font-size: rem(14px);
        @include margin(0,0,rem(8px),0);
    }
}

#{$component}__text {
    font-size: rem(13px);
    color: color('primary');
    font-weight: 300;
    line-height: 20px;
    @include margin(0,0,rem(4px),0);
}

#{$component}__cart {
  font-weight: 500;
}

#{$component}__price {
    text-decoration: line-through;
    &--cross {
        color: red;
        text-decoration: none;
    }
}

#{$component}__image {
    img{
     width: 100%;
    }
}