<?xml version="1.0" encoding="UTF-8"?>
<svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Icons/32x32/fine-lines</title>
    <g id="PDP" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="PDP-1440---New" transform="translate(-808.000000, -458.000000)">
            <g id="Main__Content" transform="translate(0.000000, 99.000000)">
                <g id="Buy-Box" transform="translate(808.000000, 85.000000)">
                    <g id="What-It's-Good-For" transform="translate(0.000000, 200.000000)">
                        <g id="Group" transform="translate(0.000000, 74.000000)">
                            <rect id="Box" x="0" y="0" width="32" height="32"></rect>
                            <circle id="bg" fill="#FFFFFF" cx="16" cy="16" r="16"></circle>
                            <circle id="outline" stroke="#2E261C" cx="16" cy="16" r="15.5"></circle>
                            <path d="M25.6,21.6 C25.0022376,22.5560564 23.9678667,23.1469354 22.8455151,23.1734852 C21.7312394,23.1197029 20.7089792,22.5354194 20.0925515,21.6 C19.4949369,22.5558337 18.4609068,23.1466812 17.3388273,23.1734852 C16.2253972,23.1195998 15.2041063,22.5352244 14.5889065,21.6 C14.5889065,21.6 13.0675119,23.5454277 11.2,23.1459339" id="Path" stroke="#2E261C" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M20.8,16.714556 C18.8861244,17.1132845 17.691866,15.2 17.691866,15.2 L17.691866,15.2 C17.0902901,16.1560564 16.0493204,16.7469354 14.9198086,16.7734852 C13.7984243,16.7197029 12.7696425,16.1354194 12.1492823,15.2 L12.1492823,15.2 C11.5478552,16.1558337 10.5072284,16.7466812 9.37799043,16.7734852 C8.25745711,16.7195998 7.22965084,16.1352244 6.61052632,15.2 L6.61052632,15.2 C6.61052632,15.2 5.07942584,17.1454277 3.2,16.7459339" id="Path" stroke="#2E261C" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M25.6,10.3400778 C23.7656326,10.7455253 22.6209873,8.8 22.6209873,8.8 C22.0444027,9.77216695 21.046678,10.3730028 19.9640896,10.4 C18.889291,10.3453115 17.9032479,9.75118219 17.3086593,8.8 C16.7322173,9.77194045 15.7348213,10.3727443 14.6524953,10.4 C13.5785123,10.3452066 12.5934042,9.75098387 12,8.8" id="Path" stroke="#2E261C" stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>