<?xml version="1.0" encoding="UTF-8"?>
<svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Icons/32x32/dullness</title>
    <g id="PDP" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="PDP-1440---New" transform="translate(-808.000000, -410.000000)">
            <g id="Main__Content" transform="translate(0.000000, 99.000000)">
                <g id="Buy-Box" transform="translate(808.000000, 85.000000)">
                    <g id="What-It's-Good-For" transform="translate(0.000000, 200.000000)">
                        <g id="Group" transform="translate(0.000000, 26.000000)">
                            <rect id="Box" x="0" y="0" width="32" height="32"></rect>
                            <circle id="bg" fill="#FFFFFF" cx="16" cy="16" r="16"></circle>
                            <circle id="outline" stroke="#2E261C" cx="16" cy="16" r="15.5"></circle>
                            <path d="M17.9959252,21 L18.4707237,24.5233886 L20,25.040884 L18.4707237,25.561326 L17.9959252,29 L17.526796,25.561326 L16,25.040884 L17.526796,24.5233886 L17.9959252,21 Z M10.6128854,6 L11.8830227,14.8021671 L16,16.1019204 L11.8830227,17.3952366 L10.6128854,26 L9.34385897,17.3952366 L5.23076923,16.1019204 L9.34385897,14.8021671 L10.6128854,6 Z M22.0009378,6 L22.7042826,11.2834317 L25,12.0614201 L22.7042826,12.8394085 L22.0009378,18 L21.2882151,12.8394085 L19,12.0614201 L21.2882151,11.2834317 L22.0009378,6 Z" id="Combined-Shape" fill="#2E261C"></path>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>