<?xml version="1.0" encoding="UTF-8"?>
<svg width="50px" height="50px" viewBox="0 0 36 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Icons/72x72/microscope</title>
    <g id="Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Home-320---New" transform="translate(-26.000000, -2024.000000)">
            <g id="Our-Promise" transform="translate(0.000000, 1317.000000)">
                <g id="icons" transform="translate(16.000000, 608.000000)">
                    <g id="Icons/72x72/microscope" transform="translate(0.000000, 96.000000)">
                        <rect id="Box" x="0" y="0" width="56" height="56"></rect>
                        <path d="M31.5046555,46.1916606 C35.4013134,46.1916606 38.5600641,48.8417531 38.5600641,52.1111111 L38.5600641,52.1111111 L24.4492469,52.1111111 C24.4492469,48.8417531 27.6085745,46.1916606 31.5046555,46.1916606 Z M27.1511182,35.499084 L27.1511182,38.0285107 L10.8888889,38.0285107 L10.8888889,35.499084 L27.1511182,35.499084 Z M18.9185774,22.7055577 L22.1119445,25.3977694 L20.704786,27.0227724 L17.5114188,24.3299916 L18.9185774,22.7055577 Z M32.1985422,5.19582315 L37.576784,9.73046374 L23.2069204,26.3168779 L17.8286786,21.7816681 L32.1985422,5.19582315 Z M37.2595819,4.72590985 C38.7446275,5.97867048 38.9194405,8.18138908 37.6501708,9.64645308 L37.5780532,9.73012224 L32.1998114,5.19491247 L32.271929,5.11124331 C33.5417757,3.64617931 35.7745364,3.4737184 37.2595819,4.72590985 Z" id="Shape" stroke="#2E261C" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M17.3389135,38.0239573 L17.3452599,38.0302182 C19.6980243,42.8545704 24.6995238,46.1905223 30.5006632,46.1905223 C38.5634104,46.1905223 45.1111111,39.737752 45.1111111,31.7834904 C45.1111111,23.9692466 38.8039947,17.6138058 30.950677,17.3827195" id="Path" stroke="#2E261C" stroke-linecap="round" stroke-linejoin="round"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>