<?xml version="1.0" encoding="UTF-8"?>
<svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Icons/32x32/uneven-skin</title>
    <g id="PDP" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="PDP-1440---New" transform="translate(-1080.000000, -410.000000)">
            <g id="Main__Content" transform="translate(0.000000, 99.000000)">
                <g id="Buy-Box" transform="translate(808.000000, 85.000000)">
                    <g id="What-It's-Good-For" transform="translate(0.000000, 200.000000)">
                        <g id="Group" transform="translate(272.000000, 26.000000)">
                            <rect id="Box" x="0" y="0" width="32" height="32"></rect>
                            <circle id="bg" fill="#FFFFFF" cx="16" cy="16" r="16"></circle>
                            <circle id="outline" stroke="#2E261C" cx="16" cy="16" r="15.5"></circle>
                            <line x1="26" y1="23.7876953" x2="11.1736328" y2="23.7876953" id="Path" stroke="#2E261C" stroke-linecap="round" stroke-linejoin="round"></line>
                            <path d="M22,16.8486505 C20.9910473,16.9075797 18.7718655,13.2663415 13.8973726,16.0486505 C11.6931043,17.5632065 7.64915311,17.1707437 6,16.3482114" id="Path" stroke="#2E261C" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M26,9.54007782 C24.1116806,9.94552529 22.9333693,8 22.9333693,8 C22.3398263,8.97216695 21.3127568,9.57300282 20.1983275,9.6 C19.0919172,9.5453115 18.0768728,8.95118219 17.4647963,8 C16.8714001,8.97194045 15.8446689,9.57274432 14.7305098,9.6 C13.6249391,9.54520659 12.6108573,8.95098387 12,8" id="Path" stroke="#2E261C" stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>