
   <div class="productGrid swiper-container">
        <div class="swiper-wrapper productGrid__items">
            <div class="product swiper-slide">
                <div class="product__image">
                    <img src="{{'image-product.png' | asset_img_url:'master'}}" alt="Product image" />
                </div>
                <div class="product__desc">
                    <div class="product__star"></div>
                    <div class="product__info">
                        <p class="product__title">calm <span class="product__title product__title--regular">| PURE RADIANCE OIL</span></p>
                        <p class="product__text">Skin-transforming moisturizing face oil.</p>
                    </div>
                    <a class="product__cart link link--default">
                        ADD TO BAG 
                        <span class="price-divider">—</span>
                        <span class="product__price">$0</span>
                        <span class="product__price product__price--cross"> $0</span>
                    </a>
                </div>
            </div>
            <div class="product swiper-slide">
                <div class="product__image">
                    <img src="{{'image-product.png' | asset_img_url:'master'}}" alt="Product image" />
                </div>
                <div class="product__desc">
                    <div class="product__star"></div>
                    <div class="product__info">
                        <p class="product__title">calm <span class="product__title product__title--regular">| PURE RADIANCE OIL</span></p>
                        <p class="product__text">Skin-transforming moisturizing face oil.</p>
                    </div>
                    <a class="product__cart link link--default">
                        ADD TO BAG 
                        <span class="price-divider">—</span>
                        <span class="product__price">$0</span>
                        <span class="product__price product__price--cross"> $0</span>
                    </a>
                </div>
            </div>
            <div class="product swiper-slide">
                <div class="product__image">
                    <img src="{{'image-product.png' | asset_img_url:'master'}}" alt="Product image" />
                </div>
                <div class="product__desc">
                    <div class="product__star"></div>
                    <div class="product__info">
                        <p class="product__title">calm <span class="product__title product__title--regular">| PURE RADIANCE OIL</span></p>
                        <p class="product__text">Skin-transforming moisturizing face oil.</p>
                    </div>
                    <a class="product__cart link link--default">
                        ADD TO BAG 
                        <span class="price-divider">—</span>
                        <span class="product__price">$0</span>
                        <span class="product__price product__price--cross"> $0</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="productGrid__pagination pagination">
            <div class="pagination__fraction">
                <p class="pagination__text">
                    <span id="current-index" class="pagination__text pagination__text--bold">1</span>  /  <span id="total-number"></span>
                </p>
            </div>
          <div class="swiper-pagination swiper__progress"></div>
        </div>
    </div>