   <div class="productGrid swiper-container">
        <div class="swiper-wrapper productGrid__items">
            {% for product in collection.products %}
                  {% assign class = "swiper-slide " %}
                  {% include 'single-product' with class %}
            {% endfor %}
        </div>
        <div class="productGrid__pagination pagination">
            <div class="pagination__fraction">
                <p class="pagination__text">
                    <span id="current-index" class="pagination__text pagination__text--bold">1</span>  /  <span id="total-number"></span>
                </p>
            </div>
          <div class="swiper-pagination swiper__progress"></div>
        </div>
    </div>
